.StuffLiked{
	border-bottom: 10px solid black;
	border-top: 10px solid black;
	text-align: center;
	border-left: solid green 20px;
	border-right: solid green 20px;
	background-color: coral;
}
ul.StuffLiked{
	border: dotted red 20px;
	list-style-type:disc;
	display: inline-block;
	text-align:left;
	width: 90px;
	font-family: "Courier New", Courier, monospace;
}
.Aligner {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: auto;
}

.Column{
  float: right;
  text-align: left;
  background-color:gray;
}

.Row::after {
  content: "";
  clear: both;
  display: table;
}
.ImageTag{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: red;
	width: 100%;
}
.ColumnRightAlign{
	float:right;
	clear:left;
	margin-left: 30px;
	margin-right: 5%;
	width: 50%;
}
.ColumnLeftAlign{
	float:left;
	clear: right;
	margin-right: 30px;
	margin-left: 5%;
	width:50%;
}
.TextAlignRight{
	text-align: right;
	margin-right: 20%;
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
	color: white;
	background-image: url("https://i93.photobucket.com/albums/l60/dragondack/Campfire.gif");
}
.TextAlignLeft{
	text-align: left;
	margin-left: 20%;
	font-family: "Courier New", Courier, monospace;
	font-size: 40px;
	background-color: limegreen;
	color: white;
}
