<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>144.202.51.247</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/DatabasesFinalProject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Account.mdf;Initial Catalog=Account.mdf;Integrated Security=True&quot; providerName=&quot;System.Data.SqlClient&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DatabasesFinalProject.Models.ApplicationDbContext, DatabasesFinalProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Dummy.mdf;Integrated Security=True&quot; providerName=&quot;System.Data.SqlClient" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Dummy.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Dummy.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Dummy.mdf;Integrated Security=True" providerName="System.Data.SqlClient</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Account.mdf;Initial Catalog=Account.mdf;Integrated Security=True" providerName="System.Data.SqlClient"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>