USE master
GO

/****** Object:  Database ProductOrders     ******/
IF DB_ID('ProductOrders') IS NOT NULL
    DROP DATABASE ProductOrders
GO

CREATE DATABASE ProductOrders
GO

USE ProductOrders
GO

/****** Object:  Table Customers     ******/
CREATE TABLE Errors(
	[ErrorID] int IDENTITY(1,1) NOT NULL,
	[MESSAGE] nvarchar(2000), 
	[NUMBER] int,
	[LINE] int,
	[PROCEDURE] nvarchar(200),
	[SEVERITY] int,
	[STATE] int
	CONSTRAINT PK_Errors PRIMARY KEY CLUSTERED(ErrorID ASC)
)
GO


/****** Object:  Table Customers     ******/
CREATE TABLE Customers(
	CustID int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	CustFirstName nvarchar(50) NULL,
	CustLastName nvarchar(50) NOT NULL,
	CustAddress nvarchar(255) NOT NULL,
	CustCity nvarchar(50) NOT NULL,
	CustState nvarchar(20) NOT NULL,
	CustZip nvarchar(20) NOT NULL,
	CustPhone nvarchar(30) NOT NULL,
	CustFax nvarchar(30) NULL,
	CustTotalOrders int NOT NULL DEFAULT(0)
)
GO

/****** Object:  Table Items     ******/
CREATE TABLE Items(
	ItemID  int IDENTITY(1,1) NOT NULL,
	Title nvarchar(50) NOT NULL,
	Artist nvarchar(50) NOT NULL,
	UnitPrice money NOT NULL
	CONSTRAINT PK_Items PRIMARY KEY CLUSTERED(ItemID ASC)
)
GO

/****** Object:  Table OrderDetails     ******/
CREATE TABLE OrderDetails(
	OrderID int NOT NULL,
	ItemID int NOT NULL,
	Quantity smallint NOT NULL
)
GO

/****** Object:  Table Orders     ******/
CREATE TABLE Orders(
	OrderID int IDENTITY(1,1) NOT NULL,
	CustID int NOT NULL,
	OrderDate datetime NOT NULL,
	ShippedDate datetime NULL
	CONSTRAINT PK_Orders PRIMARY KEY CLUSTERED(OrderID ASC)
)
GO

SET IDENTITY_INSERT Customers ON 
SET IDENTITY_INSERT Customers OFF
GO


SET IDENTITY_INSERT Items ON
SET IDENTITY_INSERT Items OFF

GO


SET IDENTITY_INSERT Orders ON
SET IDENTITY_INSERT Orders OFF
GO


USE master
GO