.bold{
	font-weight:bold;
}
.graySubs{
	color:gray;
	font-size:10px;
}
div h4{
	font-weight:bold;
	text-align: center;

}
.well div{
	font-weight: bold;
	display: table;
}

.well div::before{
	content: "\A";
	white-space: pre;
}


