/* Author: Noah Dunn 
*  Class: CSE 383
*  Homework 05: More CSS
* With assistance from the following resources:
* https://www.websitecodetutorials.com/code/css/css-center-nav.php, W3 schools, https://css-tricks.com/almanac/selectors/n/nth-child/
* https://stackoverflow.com/questions/28799454/how-do-i-increase-the-spacing-between-different-parts-of-blockquotes-with-css
* */

/* This provides the basis for our top menu*/
#Menu {
	overflow:hidden;
	background-color: #303030;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%; 
}
/* Corrects spacing for overall list */
#Menu ul{
	padding: 0px;
	padding-left: 15px;
}
/* Defines spacing and coloring for invidual menu elements  */
#Menu li {
	float: left;
	color: white;
	text-align: center;
	display: inline-block;
	padding-right: 15px;
	float: none;
}
/* Removes underlines from the links of our menu items */
#Menu li a:link {
	text-decoration: none;
	color: #F0F0F0;
}
/* Removes underlines from the links of our visited menu links */
#Menu li a:visited { 
	text-decoration: none;
	color: #F0F0F0;
}
/* Unnecessary, but an element of our powerpoint slides */
#Menu li a:hover{
	color: #faa;
}
/* Get our headers to look a little larger, and center them */
h1{
	text-align: center;
	font-size: 40px;
	width: 100%;
	}
/* Same for the h2s */
h2{
	width: 100%;
	text-align: center;
	font-size: 30px;
}
/* Generate our flex box for the images and clickable links */
#area1 {
  display: flex;
  flex-flow: row wrap;
  width: 20%;
  margin: auto;
  border-top: 5px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom:5px solid black;
}
/* Give our individual flex box spaces some borders */
.area1Info{
	width: 100%;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
/* Correct flex box layout with some floats */
div.area1Info a{
	float: left;
	
}
div.area1Info img{
	float: right;
}
/* Give us 65% of the screen to work with and center it */
#container2 {
	width:65%;
	margin: auto;
}
/* Set all the lines to red */
#container2 div::first-line{
	color: red;
}
/* Then set the middle to green */ 
#container2 div:nth-child(2)::first-line{
	color: green;
}
/* Divy our 65% into 3 equal parts and align the text in the correct manner */
#container2 div{
  float: left;
  width: 33.3%;
  text-align: center;
}
/* Prevent undesired extra spaces */
#container2 blockquote{
	margin-bottom: 0px;
}
/* Add spaces before the periods in the bodies of text */
#container2 cite::before{
	content: " ";
}




