# EditorConfig: a universal project-level configuration file for text editors & IDEs
# Download your plugin at https://editorconfig.org/#download

root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{html,htm}]
indent_size = 2

[*.css]
indent_size = 4

[*.{js,ts}]
indent_size = 2

[*.php]
indent_size = 2

[*.json]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab

[*.{md,markdown}]
indent_size = 2

[*.rst]
indent_size = 3
